/* Imports
-------------------------------------------------- */
@import 'config-color';

/* HTML Color
-------------------------------------------------- */
html {
  color: $font-color;
  background-color: $background-color;
}

/* Links Color
-------------------------------------------------- */
:link, :visited {
  color: $font-color;
}

/* Required Color
-------------------------------------------------- */
:required,
.required {
  background-color: $color-required;
}

/* Blockquote Color
-------------------------------------------------- */
blockquote {
  //color: $background-color;
  background-color: $font-background-color;
}

/* HR Color
-------------------------------------------------- */
hr {
  background-color: $font-background-color;
}

/* Button Color
-------------------------------------------------- */
button, .button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.inputfile + label {
  color: $font-color;
  background-color: $font-background-color;
  border-color: $font-background-color;
}

button:hover, .button:hover,
button:focus, .button:focus,
input[type="submit"]:hover, input[type="submit"]:focus,
input[type="reset"]:hover, input[type="reset"]:focus,
input[type="button"]:hover, input[type="button"]:focus,
.inputfile:focus + label, .inputfile + label:hover{
  color: $font-background-color;
  background-color: $font-color;
}

.button-light,
.button-light:hover,
.button-light:focus {
  color: $font-color !important;
  background-color: transparent !important;
}

.button-light:hover,
.button-light:focus {
  background-color: $font-background-color !important;
}

.button-hard,
.button-hard:hover,
.button-hard:focus {
  color: $font-background-color !important;
  background-color: $font-color !important;
}

.button-hard:hover,
.button-hard:focus {
  color: $font-color !important;
  background-color: $background-color !important;
}

/* Input, Textarea and Select Color
-------------------------------------------------- */
input,
textarea,
select {
  color: $font-color;
  background-color: $font-background-color;
  border-color: $font-background-color !important; // !important to reset all browser border color
}

input:hover,
textarea:hover,
select:hover {
  color: $font-color;
  background-color: $font-background-color;
  border-color: $font-background-color !important;
}

input:focus,
textarea:focus,
select:focus {
  color: $font-color;
  background-color: $background-color;
  border-color: $font-background-color !important;
}

select,
option {
  color: $font-color;
}

select:checked,
optgroup,
optgroup:disabled option,
option:checked {
  color: $font-color;
}

/* Input Placeholder Color
-------------------------------------------------- */
::placeholder {
  opacity: 0.5;
}

:hover::placeholder {
  opacity: 0.2;
}

:focus::placeholder {
  opacity: 0;
  color: transparent !important
}


/* Input Radio & Checkbox Color
-------------------------------------------------- */
input[type="radio"] + label::before,
input[type="checkbox"] + label::before,
input[type="radio"] + label,
input[type="checkbox"] + label {
  color: $font-color;
}

input[type="radio"] + label:hover::before,
input[type="checkbox"] + label:hover::before,
input[type="radio"] + label:hover,
input[type="checkbox"] + label:hover {
  color: $font-color;
}

input[type="radio"] + label:hover::after,
input[type="checkbox"] + label:hover::after {
  border-color: $font-color;
}

input[type="radio"] + label::after,
input[type="checkbox"] + label::after {
  border-color: $font-color;
}

input[type="radio"]:checked + label::before,
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  color: $font-color;
}

input[type="radio"]:checked + label:hover::before,
input[type="checkbox"]:checked + label:hover::before,
input[type="radio"]:checked + label:hover,
input[type="checkbox"]:checked + label:hover {
  color: $font-color;
}

input[type="radio"]:checked + label::after,
input[type="checkbox"]:checked + label::after {
  border-color: $font-color;
  background-color: $font-color;
}

/* Input Range Color
-------------------------------------------------- */
input[type=range]::-webkit-slider-runnable-track {
  background: $background-color
}

input[type=range]::-moz-range-track {
  background: $background-color
}

input[type=range]::-webkit-slider-thumb {
  background: $font-color
}

input[type=range]::-moz-range-thumb {
  background: $font-color
}

/* Fieldset Color
-------------------------------------------------- */
fieldset {
  outline-color: $font-background-color !important;
}

/* Table Color
-------------------------------------------------- */
table {
  background-color: $font-background-color;
  outline-color: $background-color;
}

th, td {
  border-color: $background-color;
}

/* Code, Pre, Mark, etc. Color
-------------------------------------------------- */
code, kbd, samp, pre, tt, var {
  color: $font-color;
  background-color: $font-background-color;
}

mark {
  background-color: $color-mark;
  color: $font-color;
}

abbr {
  background-color: $color-abbr;
  color: $font-color;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - */
