/* Imports
-------------------------------------------------- */
@import 'config-door-size';

/* DEV COLOR */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

$color-dev-one: rgba(255, 0, 0, 0.15);
$color-dev-two: rgba(0, 0, 255, 0.15);

/* - - - - - - - - - - - - - - - - - - - - - - - - */

/* Dev Tool & Baseline
-------------------------------------------------- */

* {
  outline: 1px solid $color-dev-two;
  outline-offset: -1px;
  background-color: rgba(255, 255, 0, 0.1);
  //opacity: 0.95;
}

body, html {
  background-color: transparent;
}

*:hover {

  &::before {
    position: absolute;
    //content: attr(class);

    font-size: 10px;
    line-height: 20px;

    padding: 0 7px;
    border-radius: 10px;

    color: black;
    background-color: $color-error;

    z-index: 99999;
  }
}

.fd-dev {
  pointer-events: none;
  display: inline-block;
  position: fixed;

  //z-index: 9999999;
  //background-color: red;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-size: $door-size $door-size;
  background-position: top left;
  background-repeat: repeat;

  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK5JREFUeNrs0bENACAQA7E8Yv+Vg9iBgsJXZIB4kjT6pn2n7bjij5YLgAgIEAEBIiBABASIgAgIEAEBIiBABASIgAgIEAEBIiBABASIgAgIEAEBIiBABASIgAgIEAEBIiBABASIgAgIEAEBIiBABASIgAgIEAEBIiBABASIgAgIEAEBIiBABASIgAgIEAEBIiBABASIgAgIEAEBIiBABASIgAAREAEBIiBA9LwjwAAfIwTHKvKmkwAAAABJRU5ErkJggg==');

  //mix-blend-mode: screen;
  opacity: 0.9;
}