/*
-------------------------------------------------- */
@font-face {
  font-family: Inter;
  src: url('../font/Inter-vf.ttf');
  font-weight: normal;
  font-style: normal;
}

body, html, * {
  font-family: 'Inter', "Helvetica Neue", Helvetica, sans-serif;

  // LIGHT
  //font-variation-settings: 'wght' 300;

  // REGULAR
  font-variation-settings: 'wght' 400;

  // BOLD
  //font-variation-settings: 'wght' 700;

  //animation: fontvariable 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite alternate both;
}

p * {
  transition: font-variation-settings .1s ease-in-out;
}


/* Links, Buttons
-------------------------------------------------- */
a *,
button *,
.button *,
:link,
:visited,
button,
.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {

  transition: font-variation-settings .1s ease-in-out;

  &:hover {
    // BOLD
    font-variation-settings: 'wght' 700;
  }
}

@keyframes fontvariable {
  0% { font-variation-settings: 'wght' 100  }
  100% { font-variation-settings: 'wght' 900 }
}

/*
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;

  // BOLD
  font-variation-settings: 'wght' 700;
}

b, strong {
  font-weight: normal;

  // BOLD
  font-variation-settings: 'wght' 700;
}

b i, i b,
strong i, i strong {
  // BOLD
  font-variation-settings: 'wght' 700;
}

label,
legend,
thead {
  font-weight: normal;

  // BOLD
  font-variation-settings: 'wght' 700;
}

blockquote,
tfoot {
  font-style: italic;
}

/*
-------------------------------------------------- */
code, kbd, samp, pre, tt, var {
  font-family: "Courier New", Courier, monospace;
}