@font-face {
    font-family: 'bigwax';
    src: url("/themes/v3/assets/icone/fontello/font/bigwax.eot?81050363");
    src: url("/themes/v3/assets/icone/fontello/font/bigwax.eot?81050363#iefix") format("embedded-opentype"),
        url("/themes/v3/assets/icone/fontello/font/bigwax.woff?81050363") format("woff"),
        url("/themes/v3/assets/icone/fontello/font/bigwax.ttf?81050363") format("truetype"),
        url("/themes/v3/assets/icone/fontello/font/bigwax.svg?81050363#bigwax") format("svg");
    font-weight: normal;
    font-style: normal;
}

.icon-bigwax {
    font-family: "bigwax", sans-serif;
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;

    width: auto;

    font-size: 24px;

    margin: 0;
    padding: 0;

    vertical-align: bottom;

    font-variant: normal;
    text-transform: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
