
/* Config Batch
-------------------------------------------------- */
@import '../config/config';

html {
  color: $color-one;
  cursor: default;

  //background: url(../../04.jpg) center center no-repeat fixed;
  //background-size: cover;
  background-color: $color-default;
}

/* z-index
-------------------------------------------------- */
.medium-zoom-image--opened { z-index: 999 }

.site-icone { z-index: 99 }

.medium-zoom-overlay { z-index: 9 }

.switch { z-index: 5 }

.page-content { z-index: 1 }


/* GLOBAL
-------------------------------------------------- */
p a {
  text-decoration: underline;
  // REGULAR
  font-variation-settings: 'wght' 400;
}

p a:hover {
  // BOLD
  font-variation-settings: 'wght' 700;
}

.page-content {
  padding: ($door-size + $door-padding) $door-size $door-size $door-size*4;
}

article {
  p {
    max-width: 600px;
  }

  figure {
    display: inline-block;
    max-width: 200px;
    padding: $door-padding;

    img {
      //border-radius: $door-padding/2;
      overflow: hidden;
      max-height: 200px;
    }
  }

  figcaption {
    text-align: center;
    font-size: small;
    margin-top: $door-padding;
    margin-bottom: $door-padding;
  }
}

.post-content {
  //display: flex;
}

.flex-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $door-size*2;
  margin-top: -$door-padding;
  margin-left: -$door-padding;
  margin-right: -$door-padding;
}

/* Medium Zoom
-------------------------------------------------- */

.medium-zoom-overlay {

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    backdrop-filter: blur(30px);
  }

}

.medium-zoom-image {
  border-radius: $door-padding/2;
  overflow: hidden;

  filter: drop-shadow( 0 0 $door-padding/2 $color-default);

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    filter: drop-shadow( 0 0 0 transparent);
  }
}



/* Site Icone
-------------------------------------------------- */

.site-icone {
  //border-radius: $door-padding;
  padding: $door-size;

  position: fixed;
  top: 0;
  left: 0;

  //background-color: rgba(230, 230, 230, 0.6);
  //backdrop-filter: blur(60px);

  //border-bottom: 1px solid $color-one;

  //width: 100%;

  display: flex;
  align-items: center;
  text-decoration: none;


  .icone {
    display: inline-block;

    width: $door-size*2;
    height: $door-size*2;
    border-radius: $door-padding/2;
    overflow: hidden;
  }

  .title {
    margin-left: $door-padding;
    span {
      font-variation-settings: 'wght' 700;
    }
  }
}

/* Switch
-------------------------------------------------- */

.switch {

  width: auto;
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  //transition: opacity .15s ease-in;

  .sw-open,
  .sw-list {
    border-radius: 0 $door-padding 0 0;
    padding: $door-size;

    position: fixed;
    bottom: 0;
    left: 0;
  }

  .sw-open {

    &:hover {
      z-index: 1;
      opacity: 0;

      + .sw-list {
        opacity: 1;
        transform: translateX(0%);
      }
    }
  }



  .sw-list {
    //transition: opacity .1s ease-in, backdrop-filter .1s ease-in;
    padding: ($door-padding + $door-padding/2) $door-size;

    opacity: 0;
    transform: translateX(-150%);

    overflow: auto;
    max-height: 100%;

    /* BACKGROUND BLUR ACK !! --------------------------------------- */

    background-color: $color-default;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      backdrop-filter: blur(60px);
      background-color: $color-one-50;
    }

    /* BACKGROUND BLUR ACK !! --------------------------------------- */

    &:hover {
      z-index: 2;

      opacity: 1;
      transform: translateX(0%);
    }
  }

  ul {
    margin: 0;
    list-style: none;

    li {
      margin: 0;

      a {
        opacity: .5;
        padding: $door-padding/2 0;
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    //transition: opacity .15s ease-in;

    .icone {
      display: inline-block;

      width: $door-size*2;
      height: $door-size*2;
      border-radius: $door-padding/2;
      overflow: hidden;
    }

    .title {
      margin-left: $door-padding;
    }

    font-variation-settings: 'wght' 700;

    &:hover,
    &.selected {
      opacity: 1;
      .title {
        font-variation-settings: 'wght' 700;
      }
    }
  }
}

/* Organigramme
-------------------------------------------------- */
.organigramme {

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  .persona {

    display: flex;
    align-items: flex-start;
    //flex-wrap: wrap;

    //margin-right: $door-size;

    margin-right: $door-size;
    margin-bottom: $door-size;

    padding: $door-padding;

    border-radius: $door-padding/2;

    //border: 1px solid $color-one;

    //color: $color-default;
    //background-color: $color-one;

    background-color: $color-one-50;
    //backdrop-filter: blur(60px);

    // Important to keep block size
    overflow: hidden;

    p {
      margin-bottom: 0;
    }

    a {
      //color: $color-default;
    }


    .avatar {

      min-width: $door-size*2;
      min-height: $door-size*2;

      width: $door-size*2;
      height: $door-size*2;

      background-color: $color-one;
      margin-right: $door-padding;

      border-radius: 100%;

      img {
        width: $door-size*2;
        height: $door-size*2;
      }
    }
  }


}

/* Global Definition
-------------------------------------------------- */
svg path {
  fill: currentColor;
}

/* Embed video
-------------------------------------------------- */
.bw-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  margin-bottom: $door-size !important;
}

.bw-video iframe,
.bw-video object,
.bw-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Flag
SVG :) Need new flag ?
go here --> http://www.phoca.cz/cssflags
-------------------------------------------------- */

.flag-fr,
.flag-en {
  &:before {
    display: inline-block;
    content: " ";
    overflow: hidden;
    width: $door-size+$door-size/2;
    height: $door-size;
    vertical-align: bottom;
    transform-origin: 0 50%;
    transform: scale(.75);
  }
}

.flag-fr:before {
  background:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5MDAgNjAwIj4NCjxwYXRoIGZpbGw9IiNlZDI5MzkiIGQ9Im0wLDBoOTAwdjYwMGgtOTAweiIvPg0KPHBhdGggZmlsbD0iI2ZmZiIgZD0ibTAsMGg2MDB2NjAwaC02MDB6Ii8+DQo8cGF0aCBmaWxsPSIjMDAyMzk1IiBkPSJtMCwwaDMwMHY2MDBoLTMwMHoiLz4NCjwvc3ZnPg0K');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-en:before {
  background:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjAgMzAiIGhlaWdodD0iNjAwIj4NCjxkZWZzPg0KPGNsaXBQYXRoIGlkPSJ0Ij4NCjxwYXRoIGQ9Im0zMCwxNWgzMHYxNXp2MTVoLTMwemgtMzB2LTE1enYtMTVoMzB6Ii8+DQo8L2NsaXBQYXRoPg0KPC9kZWZzPg0KPHBhdGggZmlsbD0iIzAwMjQ3ZCIgZD0ibTAsMHYzMGg2MHYtMzB6Ii8+DQo8cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iNiIgZD0ibTAsMGw2MCwzMG0wLTMwbC02MCwzMCIvPg0KPHBhdGggc3Ryb2tlPSIjY2YxNDJiIiBzdHJva2Utd2lkdGg9IjQiIGQ9Im0wLDBsNjAsMzBtMC0zMGwtNjAsMzAiIGNsaXAtcGF0aD0idXJsKCN0KSIvPg0KPHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEwIiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjxwYXRoIHN0cm9rZT0iI2NmMTQyYiIgc3Ryb2tlLXdpZHRoPSI2IiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjwvc3ZnPg0K');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

/* Bigwax Menu
-------------------------------------------------- */
/* Menu Z-INDEX ---------- */

.header-fix {   z-index: 4 }
.header-gap {   z-index: 0 }

.left, .right { z-index: 8;}
.center {       z-index: 10 }

.menu {         z-index: 6;
  @media (max-width: 599px) {
                z-index: 9
} }

.brand {        z-index: 5;}

.submenu {    z-index: 7;
  @media (max-width: 599px) {
              z-index: 11
} }



/* Scrollbar (only for Webkit...)
-------------------------------------------------- */
/*
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*:hover::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  //-webkit-box-shadow: inset 1px 0 0 $color-tree;
  -webkit-box-shadow: none;
}

*::-webkit-scrollbar-thumb {
  background: $color-one;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
}

*::-webkit-scrollbar-track:window-inactive {
  background: transparent;
}

*::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}
*/