
/* Config Batch
-------------------------------------------------- */
@import '../config/config';



$picnic-transition: all .15s ease-in-out;


html {
  cursor: default;
}

* {
  scroll-behavior: smooth;
}

/* z-index
-------------------------------------------------- */
.site-icone { z-index: 99 }
.switch { z-index: 5 }
.page-content { z-index: 1 }


/* GLOBAL
-------------------------------------------------- */
p a {
  text-decoration: underline;
  // REGULAR
  font-variation-settings: 'wght' 400;
}

p a:hover {
  // BOLD
  font-variation-settings: 'wght' 700;
}

.page-content {
  padding: ($door-size + $door-padding) $door-size $door-size*3 $door-size*4;
  p {
    max-width: 600px;
  }
}

p.max-width {
  max-width: 600px;
}

u {
  text-decoration: underline;
}

form {
  max-width: 300px;
  fieldset {
    max-width: 100%;
  }
}

p img {
  border-radius: $door-padding/2;
}



/* Site Icone
-------------------------------------------------- */
.site-icone {
  padding: $door-size;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  text-decoration: none;

  .icone {
    display: inline-block;
    width: $door-size*2;
    height: $door-size*2;
    border-radius: $door-padding/2;
    overflow: hidden;
  }

  .title {
    margin-left: $door-padding;
    span {
      font-variation-settings: 'wght' 700;
    }
  }
}


/* Switch
-------------------------------------------------- */

body:hover {
  .sw-list {
    animation-delay: 0s;
  }
}

.switch {
  width: auto;
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  //transition: opacity .15s ease-in;

  .sw-open,
  .sw-list {
    border-radius: 0 $door-padding 0 0;
    padding: $door-size;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .sw-open {
    &:hover {
      z-index: 1;
      opacity: 0;

      + .sw-list {
        opacity: 1;
        //transform: translateY(0%);
        //animation: switch-in .1s ease-out forwards;
        animation: switch-in 0s ease-out forwards;
      }
    }
  }

  .sw-list {

    //animation: switch-out .15s linear forwards;
    animation: switch-out 0s linear forwards;
    animation-delay: 2s;

    transform-origin: 0 0;

    //transition: translateY .2s ease-in-out;

    padding: ($door-padding + $door-padding/2) $door-size;
    opacity: 1;
    //opacity: 0;
    //transform: translateY(100%);
    overflow: auto;
    max-height: calc(100vh - 80px);

    @include background-box();

    &:hover {
      z-index: 2;
      opacity: 1;
      //transform: translateY(0%);
      //animation: switch-in .1s ease-out forwards;
      animation: switch-in 0s ease-out forwards;
    }
  }

  ul {
    margin: 0;
    list-style: none;

    li {
      margin: 0;

      a {
        opacity: .5;
        padding: $door-padding/2 0;
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;

    .icone {
      display: inline-block;
      width: $door-size*2;
      height: $door-size*2;
      border-radius: $door-padding/2;
      overflow: hidden;
    }

    .title {
      margin-left: $door-padding;
    }

    font-variation-settings: 'wght' 700;

    &:hover,
    &.selected {
      opacity: 1;
      .title {
        font-variation-settings: 'wght' 700;
      }
    }
  }
}

@keyframes switch-out {
  0% { transform: translateX(0%) scaleX(1)}
  100% { transform: translateX(-50%) scaleX(0.5)}
}

@keyframes switch-in {
  0% { transform: translateX(-50%) scaleX(0.5)}
  100% { transform: translateX(0%) scaleX(1)}
}

/* Site Icone + switch
-------------------------------------------------- */
.site-icone, .switch .sw-open {
  .icone {
    border: $doorframe-size solid $font-background-color;
    background-color: $font-background-color;
  }
}


/* Flex Gallery
-------------------------------------------------- */
.flex-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $door-padding;
  margin-top: -$door-padding;
  margin-left: -$door-padding;
  margin-right: -$door-padding;

  a {
    display: inline-block;
    max-width: 200px;
    padding: $door-padding;

    img {
      border-radius: $door-padding/2;
      overflow: hidden;
      max-height: 200px;
    }
  }
}
/* Flex Content
-------------------------------------------------- */
.flex-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  fieldset {
    //margin-bottom: $doorframe-size/2;
    //margin-top: -$doorframe-size/2;
    margin-left: -$doorframe-size/2;
    margin-right: -$doorframe-size/2;
  }

  p {
    margin-right: $door-size;
  }

  p:last-child {
    margin-right: 0;
  }
}

/* Organigramme
-------------------------------------------------- */
.organigramme {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  //align-content: stretch;
  flex-wrap: wrap;

  margin-top: -$door-padding/4;
  margin-right: -$door-padding/4;
  margin-bottom: $door-size;
  margin-left: -$door-padding/4;

  .structure, .persona {
    display: flex;
    align-items: center;

    margin: $door-padding/4;

    padding: $door-padding $door-size $door-padding $door-padding;
    border-radius: $door-padding/2;
    //border: 1px solid $font-background-color;
    background-color: $font-background-color;

    // Important to keep block size
    overflow: hidden;

    p {
      margin-bottom: 0;
    }

    .avatar {
      min-width: $door-size*3;
      min-height: $door-size*3;
      width: $door-size*3;
      height: $door-size*3;
      margin-right: $door-padding;

      overflow: hidden;

      border-radius: 100%;
      border: $door-padding/2 solid lighten($font-background-color, 5%);

      img {
        width: 100%;
      }
    }

    .avatar.ghost {
      border-radius: 100% 100% 45% 45%;
      //background-color: $background-color;
      //outline: 1px solid red;
    }
  }

  .structure {
    width: 100%;
    background-color: transparent;
    //padding: $door-padding 0 $door-padding 0;

    align-items: center;

    padding-left: $door-size;

    .avatar {
      min-width: $door-size*2;
      min-height: $door-size*2;
      width: $door-size*2;
      height: $door-size*2;

      border-radius: $door-padding/2;
      border: $door-padding/2 solid $font-background-color;
    }
  }
}


/* Global Definition
-------------------------------------------------- */
svg path {
  fill: currentColor;
}



/* Embed video
-------------------------------------------------- */
.fd-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  margin-bottom: $door-size !important;
}

.fd-video iframe,
.fd-video object,
.fd-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $door-padding/2;
}



/* Hand Clock
-------------------------------------------------- */
.gmt {
  text-align: center;
  width: fit-content;
  margin-bottom: $door-size;

  hand-clock {
    display: block;
    margin: auto;
    width: fit-content;
    padding-bottom: $door-padding;
  }

  strong {
    color: $background-color;
    background-color: $font-color;
    padding: 1px 8px;
    border-radius: 2px;
    letter-spacing: 1px;
  }
}


/* FancyBox 3
-------------------------------------------------- */
.fancybox-container {
  z-index: 9;
  //color: $font-color;
}

.dark {
  .fancybox-bg {
    background-color: $font-color;
  }
}

.fancybox-bg {
  background-color: $background-color;

}

.fancybox-is-open .fancybox-bg {
  opacity: 1;
}

.fancybox-slide,
.fancybox-slide--image {
  padding: 0 !important;
  margin: 0 !important;
}
.fancybox-slide{

}

.fancybox-slide--image {
  padding: $door-size !important;
  img {
    border-radius: $door-padding/2;
  }
}

.fancybox-content {
  width: 100%;
  margin: 0;
  padding: $door-size;
  background-color: $background-color;

  @media (max-width: 760px) {
    padding: $door-size*4 $door-size $door-size;
  }

}

.fancybox-slide--html .fancybox-close-small {
  position: fixed;
  top: $door-size;
  right: $door-size;
}


.modal-inline-content {
  width: 100%;
  max-width: 600px;

  margin: 0 auto !important;
  padding: $door-size;

  border-radius: $door-padding/2;

  @include background-box();

  hr {
    margin-left: -$door-size;
    margin-right: -$door-size;
  }
}


/* Modal */

#modal {
  display: none;
  width: 100%;
  max-width: 600px;
  padding: 0;

  margin-bottom: 0 !important;
  border-radius: $door-padding/2;

  @include background-box();

  hr {
    margin-left: -$door-size;
    margin-right: -$door-size;
  }
}


#modal .fancybox-close-small {
  top: inherit;
  bottom: $door-size;
  right: $door-size;
}

#modal .content-header {
  font-variation-settings: "wght" 700;
  border-bottom: $doorframe-size solid $font-background-color;
  padding: $door-size;
}

#modal .content-scroll {

  //max-height: calc(100vh - 200px);

  padding: $door-size $door-size 0;

  overflow: auto;
}


/* Caption */

.fancybox-caption {
  background: linear-gradient(to top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 100%);

  bottom: $door-padding;
  //color: $font-color;
  font-size: inherit;
  font-weight: inherit;
  left: 0;
  line-height: $door-size;
  padding: $door-size $door-size*4;
  //pointer-events: inherit;
  right: 0;
  text-align: center;
  z-index: 99996;
}


.fancybox-caption--separate {
  //margin-top: -50px;
}


/* Toolbar */

.fancybox-toolbar {
  top: $door-size;
  right: $door-size;
}


/* Buttons */

.fancybox-button {

  font-size: $door-size;
  line-height: $door-size;

  height: $door-size*2;
  margin: 0;
  padding: $door-padding;
  vertical-align: middle;
  width: $door-size*2;

  //@include background-box();

}


.fancybox-button:focus {
  outline: none;
}

.fancybox-button.fancybox-focus {
  outline: none;
}

.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  opacity: 0 !important;
}

.fancybox-navigation .fancybox-button--arrow_right,
.fancybox-navigation .fancybox-button--arrow_left {
  font-size: $door-size;
  line-height: $door-size;
  height: $door-size*2;
  width: $door-size*2;

  padding: 0;

  text-align: center;
  div {
    font-size: $door-size;
    line-height: $door-size;

    padding: $door-padding;
  }
}

.fancybox-navigation .fancybox-button {
  height: $door-size*2;
  top: calc(100% - 60px);
  width: $door-size*2;
}


.fancybox-navigation .fancybox-button--arrow_right {
  margin-right: $door-size;
  right: 0;
}

.fancybox-navigation .fancybox-button--arrow_left {
  margin-left: $door-size;
  left: 0;
}




.fancybox-progress {
  background: $font-color;
}

/* Loading indicator */

.fancybox-loading {
  animation: fancybox-rotate 0.5s linear infinite;
  border: 2px solid $background-overlay;
  border-bottom-color: $font-color;
  height: $door-size;
  left: 50%;
  margin: -$door-padding 0 0 -$door-padding;
  opacity: 1;
  top: 50%;
  width: $door-size;
  z-index: 99999;
}




/* dark-mode-toggle
-------------------------------------------------- */


dark-mode-toggle {
  --dark-mode-toggle-remember-icon-checked: url("checked.svg");
  --dark-mode-toggle-remember-icon-unchecked: url("unchecked.svg");
  --dark-mode-toggle-background-color: none;

  fieldset {
    padding: 0 !important;
    margin: 0 !important;
  }
}

#dark-mode-toggle {
  --dark-mode-toggle-dark-icon: url("/assets/icone/dark.svg");
  --dark-mode-toggle-light-icon: url("/assets/icone/light.svg");
  --dark-mode-toggle-icon-size: 20px;
  --dark-mode-toggle-active-mode-background-color: var(--accent-color);
}

#dark-mode-toggle::part(toggleLabel)::before {
  margin-inline-end: 0;
}





/* Timer (Opening Hours) Bigwax Rec
-------------------------------------------------- */

.img-intro {
  position: relative;
  max-width: 600px;

  margin-top: $door-size*3;
  margin-bottom: $door-size*2;

  //overflow: hidden;

  img {
    border-radius: $door-padding/2;
  }
}

.current-status-placeholder,
.closing-in-placeholder {
  position: absolute;
  pointer-events: none;

  color: $background-color;
  background-color: #fff632;
}

.current-status-placeholder {
  top: -$door-padding*6;
  right: $door-padding*2;

  animation: blinker 3.4557519189487724s linear infinite;
}

.closing-in-placeholder  {
  bottom: $door-padding;
  right: 0;
}

@media (min-width: 780px) {
  .current-status-placeholder {
    //outline: 2px solid red;

    top: $door-padding*5;
    right: -$door-padding*6;
  }

  .img-intro {
    margin-top: 0;
    margin-bottom: $door-size;
  }
}

@keyframes blinker {
  100% { transform: rotate(360deg);}
}

.current-status-placeholder {

  width: 120px;
  height: 120px;

  display: inline-block;
  border-radius: 100%;

  font-size: 20px;
  line-height: 120px;

  text-transform: uppercase;

  text-align: center;
}

.closing-in-placeholder {
  display: inline-block;

  padding: 5px 10px;
  border-radius: 5px;

  margin-left: $door-padding;
  margin-right: $door-padding;
}