
/* Config Batch
-------------------------------------------------- */
@import '../config/config';



$picnic-transition: all .15s ease-in-out;



html {
  cursor: default;
}

:root {
  --fa-primary-color: $font-color;
  --fa-secondary-color: lighten($font-color, 40%);
}


/* z-index
-------------------------------------------------- */
.medium-zoom-image--opened { z-index: 999 }
.site-icone { z-index: 99 }
.medium-zoom-overlay { z-index: 9 }
.switch { z-index: 5 }
.page-content { z-index: 1 }


/* GLOBAL
-------------------------------------------------- */
p a {
  text-decoration: underline;
  // REGULAR
  font-variation-settings: 'wght' 400;
}

p a:hover {
  // BOLD
  font-variation-settings: 'wght' 700;
}

.page-content {
  padding: ($door-size + $door-padding) $door-size $door-size*3 $door-size*4;
}

p.max-width {
  max-width: 600px;
}

u {
  text-decoration: underline;
}

form {
  max-width: 300px;
}

figure {
  display: inline-block;
  max-width: 200px;
  padding: $door-padding;

  img {
    //border-radius: $door-padding/2;
    overflow: hidden;
    max-height: 200px;
  }
}

figcaption {
  text-align: center;
  font-size: small;
  margin-top: $door-padding;
  margin-bottom: $door-padding;
}


/* Site Icone
-------------------------------------------------- */
.site-icone {
  padding: $door-size;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  text-decoration: none;

  .icone {
    display: inline-block;
    width: $door-size*2;
    height: $door-size*2;
    border-radius: $door-padding/2;
    overflow: hidden;
  }

  .title {
    margin-left: $door-padding;
    span {
      font-variation-settings: 'wght' 700;
    }
  }
}


/* Switch
-------------------------------------------------- */
.switch {
  width: auto;
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  //transition: opacity .15s ease-in;

  .sw-open,
  .sw-list {
    border-radius: 0 $door-padding 0 0;
    padding: $door-size;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .sw-open {
    &:hover {
      z-index: 1;
      opacity: 0;

      + .sw-list {
        opacity: 1;
        transform: translateX(0%);
      }
    }
  }

  .sw-list {
    //transition: opacity .1s ease-in, backdrop-filter .1s ease-in;
    padding: ($door-padding + $door-padding/2) $door-size;
    opacity: 0;
    transform: translateX(-150%);
    overflow: auto;
    max-height: 100%;

    @include background-box();

    &:hover {
      z-index: 2;
      opacity: 1;
      transform: translateX(0%);
    }
  }

  ul {
    margin: 0;
    list-style: none;

    li {
      margin: 0;

      a {
        opacity: .5;
        padding: $door-padding/2 0;
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;

    .icone {
      display: inline-block;
      width: $door-size*2;
      height: $door-size*2;
      border-radius: $door-padding/2;
      overflow: hidden;
    }

    .title {
      margin-left: $door-padding;
    }

    font-variation-settings: 'wght' 700;

    &:hover,
    &.selected {
      opacity: 1;
      .title {
        font-variation-settings: 'wght' 700;
      }
    }
  }
}

/* Site Icone + switch
-------------------------------------------------- */
.site-icone, .switch .sw-open {
  .icone {
    border: $doorframe-size solid $font-background-color;
    background-color: $font-background-color;
  }
}


/* Flex Gallery
-------------------------------------------------- */
.flex-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $door-padding;
  margin-top: -$door-padding;
  margin-left: -$door-padding;
  margin-right: -$door-padding;
}


/* Medium Zoom
-------------------------------------------------- */
.medium-zoom-overlay {
  @include background-overlay();
}

.medium-zoom-image {
  border-radius: $door-padding/2;
  overflow: hidden;
}


/* Organigramme
-------------------------------------------------- */
.organigramme {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  //align-content: stretch;
  flex-wrap: wrap;

  margin-top: -$door-padding/4;
  margin-right: -$door-padding/4;
  margin-bottom: $door-size;
  margin-left: -$door-padding/4;

  .structure, .persona {
    display: flex;
    align-items: center;

    margin: $door-padding/4;

    padding: $door-padding $door-size $door-padding $door-padding;
    border-radius: $door-padding/2;
    //border: 1px solid $font-background-color;
    background-color: $font-background-color;

    // Important to keep block size
    overflow: hidden;

    p {
      margin-bottom: 0;
    }

    .avatar {
      min-width: $door-size*3;
      min-height: $door-size*3;
      width: $door-size*3;
      height: $door-size*3;
      margin-right: $door-padding;

      overflow: hidden;

      border-radius: 100%;
      border: $door-padding/2 solid $font-background-color;

      img {
        width: 100%;
      }
    }
  }

  .structure {
    width: 100%;
    background-color: transparent;
    //padding: $door-padding 0 $door-padding 0;

    align-items: center;

    padding-left: $door-size;

    .avatar {
      min-width: $door-size*2;
      min-height: $door-size*2;
      width: $door-size*2;
      height: $door-size*2;

      border-radius: $door-padding/2;
      border: $door-padding/2 solid $font-background-color;
    }
  }
}


/* Global Definition
-------------------------------------------------- */
svg path {
  fill: currentColor;
}


/* Embed video
-------------------------------------------------- */
.fd-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  margin-bottom: $door-size !important;
}

.fd-video iframe,
.fd-video object,
.fd-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}







